html, body {
    height: 100%;
    margin: 0%;
    font-family: 'Yeon Sung', cursive;
    font-size: 1.6em;
    background: ghostwhite;
    text-align: center;
}


/* i got the font- family from font-family: 'Yeon Sung', cursive;  */

img {
    border-style: none;
    border-radius: 50%;
    filter: grayscale(0);
    width: 45vw;
    transform: rotate(-90deg);
}

/* tranforming my pics code was gotten from https://developer.mozilla.org/en-US/docs/Web/CSS/transform*/

.nav-bar {
    display: flex;
    height: 20;
}

.navbar-left{
flex-basis: 20%;
background:coral;
}

.navbar-right{
flex-basis: 80%;
background:coral;
display: grid;

}

.navbar-right ul{
    float: right;
    padding: 35px 40px 10px 40px;
}

.navbar-right ul li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;

}



h1 {
    color: rgb(21, 34, 34);
}
p {
    color:  rgb(21, 34, 34);
    font-size: 1.5em;
}


a{
    color: rgb(68, 55, 55);
}

@stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css, .media {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate{-53%, -50%};

}

.footer {
    margin-bottom:0;
    color: black;
    background-color:coral;
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
    font-size: 1.5em;
}


/*still fixing


section {
    display: block;
    text-align: center;
    padding: 0 0 20px;
}

div.borderYtoX a:before, div.borderYtoX a:after
{

    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
    align-self: left;
}

*div.borderYtoX a
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}



.navbar-head{
    color: blue !important;
    background-color: darkblue;
}*/

